@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap'); /*Fontes*/

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"); /*Ícones*/

/*GERAL*/
*{
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: 'Sarala', sans-serif;
}

.flex-row-center{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.flex-column-center{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

body
{
    background-color: rgba(219, 219, 219, 0.151);
    font-size: 16px;
}

/*FIM GERAL*/

/*MENU NAVEGAÇÃO*/

.menu{
    padding: 15px 30px 10px;

    background: rgba(34, 78, 107, 0.575);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, rgba(34, 78, 107, 0.575), rgba(34, 78, 107, 0.938));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, rgba(34, 78, 107, 0.575), rgba(34, 78, 107, 0.938)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#nav-ul{
    width: 80%;
    gap: 0 40px;
    font-style: none;
    list-style: none;
    justify-content: flex-end;
}

.nav-a{
    padding: 10px 15px 10px 15px;
    color:rgb(255, 255, 255);
}


/*FIM MENU NAVEGAÇÃO*/

/*SEÇÃO DE APRESENTAÇÃO*/
main
{
    padding: 120px 12% 80px 12%;
}

#profile{
    color: rgb(3, 0, 44);
    gap: 0 15%;
}

#profile-text{
    width: 45%;
    display:flex;
    text-align: justify;
    flex-direction:column;
}

#btn-download{
    border:none;
    width: 200px;
    height: 45px;
    cursor:pointer;
    color: white;
    font-size: 16px;
    border-radius: 2%;
    background-color: rgba(136, 136, 136, 0.877);
}

#btn-download:hover{
    background-color: rgba(136, 136, 136, 0.329);
}

#profile-name{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
}

#profile-description, #video-description{
    font-size: 15px;
    text-align: justify;
    font-weight: 100;
    margin-bottom: 15px;
}

#profile img{
    width:200px;
    height:200px;
    object-fit: cover;
    border-radius: 50%;
    border: 8px solid gainsboro;
    border-left-color: rgba(220, 220, 220, 0.856);
    border-right-color: rgba(220, 220, 220, 0.87);
    border-bottom-color: rgba(220, 220, 220, 0.733);
}
/*FIM SEÇÃO DE APRESENTAÇÃO*/

/*SEÇÃO NÍVEIS DE LINGUAGEM*/
#level{
    background-color: rgba(223, 223, 223, 0.493);
    padding: 30px 5% 30px 5%;
}

#titulo-linguagem{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
}

.flex-column-center.coluna-progresso{
    width: 40%;
    align-items: flex-start;
}

.titulo-linguagens{
    color: rgba(34, 78, 107, 0.678);
    padding-right: 5%;
    width: 120px;
}

.flex-row-center.linguagem-linha{
    width: 100%;
    padding: 10px 0 10px;
    justify-content:space-around;
}

.barra-linguagem{
    width: 100%;
    height: 20px;
    margin-right: 5%;
    border-radius: 5px;
    background-color: rgba(170, 170, 170, 0.699);
}

#divisor-colunas{
    width: 5%;
}

#linha-divisor{
    background-color: rgba(128, 128, 128, 0.452);
    height: 150px;
    width: 1.5px;
}

.progresso{
    height: 20px;
    border-radius: 5px;
    background-color: rgba(104, 104, 104, 0.678);
}

.progresso.iniciante{
    width: 20%;
}

.progresso.basico{
    width: 40%;
}

.progresso.intermediario{
    width: 70%;
}

.progresso.avancado{
    width: 90%;
}
/*FIM NÍVEIS DE LINGUAGEM*/

/*SEÇÃO DE PROJETOS*/
#principais-projetos{
    padding-top: 20px;
    margin-bottom: 15px;
}

#titulo-projetos{
    width: 70%;
    font-size:18px;
    text-align: left;
    color:rgb(4, 0, 63);
}

.flex-row-center.projeto{
    width: 70%;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: space-around;
    border-bottom: 0.8px solid rgba(192, 192, 192, 0.74);
}

.projeto img{
    width: 250px;
    height: 160px;
    border-radius: 5px;
}

.flex-column-center.conteudo-projeto{
    align-items:flex-start;
    text-align: justify;
    width: 60%;
}

.conteudo-projeto h2{
    font-size: 22px;
    padding-bottom: 15px;
}

.conteudo-projeto p{
    font-size: 14px;
}

.flex-row-center.ano-categoria{
    justify-content: flex-start;
    padding-bottom: 15px;
    font-weight: 600;
}

.ano{
    width: 45px;
    color: white;
    margin-right: 15px;
    border-radius: 10px;
    background-color: rgba(0, 14, 90, 0.979);
}
/*FIM PROJETOS*/

/*SECTION (2 arquivos) - PROJETO E BLOG*/
.categoria, .descricao{
    color: rgba(136, 136, 136, 0.575);
    font-weight: 100;
}
/*FIM SECTION0 (2 arquivos) - PROJETO E BLOG*/


/*SECTION DE PUBLICACAO DE BLOG*/
#titulo-blog{
    width: 60%;
    font-size: 42px;
    font-weight: 600;
    padding-top: 30px;
}

#publicacoes-blog{
    width: 60%;
    border-top: none;
    padding: 30px 12% 50px 12%;
}

.flex-column-center.publicacao{
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    align-items: flex-start;
    border-bottom: 1.2px solid rgba(199, 199, 199, 0.705);
}

#publicacoes-blog h1{
    font-size: 18px;
}

.flex-row-center.conteudo-publicacao{
    padding: 10px 0 10px;
    font-weight: 100;
    font-size: 15px;
    height: 25px;
}

.ano-publicacao{
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1.2px solid rgb(3, 0, 44);
}

.texto-publicacao{
    font-size:14px;
    text-align: justify;
}

.texto-publicacao a{
    font-weight: 600;
    padding-left: 10px;
    color:rgb(3, 0, 44);
}

.categoria-publicacao{
    color: rgba(199, 199, 199, 0.705);
}

.flex-row-center.divisao-meses{
    width: 100%;
    height: 60px;
}

.flex-row-center.divisao-meses p{
    width: 20%;
    font-weight: 600;
    color: rgb(134, 129, 201);
}
#linha-mes{
    width: 80%;
    height: 1.8px;
    background-color: rgb(134, 129, 201);
}
/*FIM SECTION DE PUBLICACAO DO BLOG*/

/*PÁGINA DO VÍDEO*/
#video{
    border-top: none;
    padding: 30px 12% 30px 12%;
}

#video-fluig{
    padding: 30px 22% 15px 22%;
    align-items: flex-start;
}

#video-fluig h1{
    width: 100%;
    font-size: 42px;
    margin-bottom: 10px;
}

#video-ano{
    background-color: red;
}

#categoria-video{
    color: black;
}

#video-description{
    padding-top: 10px;
}

/*FORMULÁRIO*/

#cabecalho-form{
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    margin: 30px 15% 30px 15%;
    border: 1.5px solid gray;
    background-color: rgba(190, 190, 190, 0.267);
}

#cabecalho-form p{
    color:rgba(87, 87, 87, 0.986);
    padding: 18px 0 18px;
}

.flex-column-center.section-form{
    margin: 0 15% 0 15%;
}

.flex-row-center.depesas-incluir{
    gap: 50px;
    width: 100%;
    margin-bottom: 10px;
    justify-content: flex-end;
}

#w-25-vazio{
    width: 25%;
    height: 1px;
}

#titulo-solicitante{
    width: 50%;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    color:rgba(100, 100, 100, 0.986);
}

#div-btn-incluir{
    width: 25%;
    justify-content: flex-end;
}

#btn-incluir{
    width: 60%;
    border:none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 7px;
    justify-content: space-evenly;
    background-color: rgb(115, 172, 114);
}

#btn-incluir:hover{
    background-color: rgb(154, 219, 152);
    cursor: pointer;
}

#btn-incluir i{
    -webkit-text-stroke: 2px white;
}

#infos-form{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 20px 0 20px;
    border: 0.5px solid gray;
}

#infos-form i{
    display: none;
    color: red;
    font-size: 25px;
    padding-left: 15px;
}

.flex-column-center.linha-input{
    align-items: flex-start;
    padding: 0 0 15px 15px;
    font-size: 15px;
}

.flex-column-center.linha-input input{
    width: 95%;
    font-size: 15px;
    font-weight: 600;
    padding-left: 15px;
    border-radius: 9px;
    border: 0.1px solid rgb(168, 168, 168);
}

.flex-column-center.linha-input input:focus{
    font-weight: 100;
    background-color: lavender;
}

form{
    width: 100%;
}

/*FIM FORMULÁRIO*/

/*RODAPÉ*/
footer{
    padding-top: 10px;
    background-color: rgba(223, 223, 223, 0.493);
}

footer i{
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(3, 0, 44);
}

footer p{
    padding: 10px;
    font-size: 12px;
}
/*FIM RODAPÉ*/

/*RESPONSIVIDADE*/
@media (max-width:1200px){
    .flex-row-center.projeto{
        flex-direction: column;
    }
    .projeto img {
        margin-bottom: 15px;
    }
    #btn-incluir{
        font-size: 17px;
    }
    #titulo-projetos{
        text-align: center;
    }
}

@media (max-width:920px){
    #level-conteudo{
        flex-direction: column;
    }
    .flex-column-center.coluna-progresso{
        width: 80%;
    }
    #video video{
        height: 320px;
        width: 550px;
    }
    #cabecalho-form{
        font-size:26px;
    }
    .flex-row-center.depesas-incluir{
        flex-direction: column;
        gap: 10px;
    }
    #w-25-vazio{
        display: none;
    }
    #div-btn-incluir{
        justify-content: space-around;
        width: 100%;
    }
    #btn-incluir {
        width: 30%;
    }
    #divisor-colunas{
        display: none;
    }
}

@media (max-width:768px){
    .flex-column-center.conteudo-projeto{
        width: 90%;
    }
    #profile-text{
        align-items: center;
        text-align: center;
        padding-top: 15px;
        width: 85%;
    }
    #profile{
         flex-direction: column-reverse;
         padding-top: 50px
    }
    #profile-name {
        font-size: 25px;
    }
   footer i{
    font-size: 20px;
    }
    footer p{
    font-size: 10px;
    }
    .flex-column-center.publicacao {
        align-items: center;
    }
    #titulo-blog{
        width: 80%;
        text-align: center;
    }
    #publicacoes-blog{
        width: 80%;
    }
    #propriedades-video{
        align-items: flex-start;
        flex-direction: column;
    }
    #video video{
        height: 160px;
        width: 300px;
    }
    .flex-column-center.linha-input input{
        width: 85%;
    }
    #btn-incluir {
        font-size:14px;
    }

    #menu-desktop{
        display: none;
    }
    .menu.on #menu-desktop, #nav-ul{
        display:block;
        width: auto;
    }
    .menu.on .nav-li{
        font-weight: 600;
        margin-bottom: 20px;
    }
    .menu.on .nav-a{
        color:white;
    }
    
    .menu.on{
        z-index: 5;
        height: 40vh;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        background-color: rgba(65, 167, 235, 0.575);
    }
    .menu #menu-mobile{
        align-items: flex-end;
    }
    .menu.on #menu-mobile{
        width: 30%;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .one, .two, .three{
        height: 3px;
        width: 25px;
        background-color: white;
        margin-bottom: 5px;
    }
}
/*FIM RESPONSIVIDADE*/