@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap'); /*Fontes*/

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"); /*Ícones*/

/*GERAL*/
*{
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: 'Sarala', sans-serif;
}

.flex-row-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body
{
    background-color: rgba(219, 219, 219, 0.151);
    font-size: 16px;
}

/*FIM GERAL*/

/*MENU NAVEGAÇÃO*/
nav
{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 0px 40px;
    padding: 20px 10% 20px;


    background: #d0d3d486;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #d0d3d486, #56585a6c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #d0d3d486, #56585a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav a{
    padding: 15px;
    font-size: 14px;
    color: rgb(3, 0, 44);
    font-weight: 600;
    text-decoration: none;
}
/*FIM MENU NAVEGAÇÃO*/

/*SEÇÃO DE APRESENTAÇÃO*/
main
{
    border-top: 2px solid rgb(3, 0, 44);
    padding: 40px 5% 40px 5%;
}

#profile{
    color: rgb(3, 0, 44);
    gap: 0 15%;
}

#profile-text{
    width: 45%;
    display:flex;
    text-align: justify;
    flex-direction:column;
}

#profile-text button{
    width: 105px;
    height: 45px;
    font-size: 15px;
    border-radius: 2%;
    border:none;
    cursor:pointer;
    color: white;
    background-color: rgba(136, 136, 136, 0.692);
}

#profile-name{
    font-size: 20px;
    margin-bottom: 15px;
}

#profile-description, #video-description{
    font-size: 15px;
    text-align: justify;
    font-weight: 100;
    margin-bottom: 15px;
}

#profile img{
    height:120px;
    width:120px;
    border-radius: 50%;
}
/*FIM SEÇÃO DE APRESENTAÇÃO*/

/*SEÇÃO NÍVEIS DE LINGUAGEM*/
#level{
    background-color: rgba(223, 223, 223, 0.493);
    padding: 30px 5% 30px 5%;
}

#titulo-linguagem{
    text-align: center;
}

.flex-column-center.coluna-progresso{
    width: 40%;
    align-items: flex-start;
}

.titulo-linguagens{
    width: 120px;
    padding-right: 5%;
}

.flex-row-center.linguagem-linha{
    width: 100%;
    padding: 10px 0 10px;
    justify-content:space-around;
}

.barra-linguagem{
    width: 100%;
    height: 15px;
    margin-right: 5%;
    border-radius: 5px;
    background-color: rgba(170, 170, 170, 0.438);
}

.progresso-iniciante{
    width: 20%;
    height: 15px;
    background-color: rgba(170, 170, 170, 0.678);
}

.progresso-basico{
    width: 40%;
    height: 15px;
    background-color: rgba(170, 170, 170, 0.678);
}

.progresso-intermediario{
    width: 70%;
    height: 15px;
    background-color: rgba(170, 170, 170, 0.678);
}

.progresso-avancado{
    width: 90%;
    height: 15px;
    background-color: rgba(170, 170, 170, 0.678);
}
/*FIM NÍVEIS DE LINGUAGEM*/

/*SEÇÃO DE PROJETOS*/
#principais-projetos{
    padding-top: 20px;
    margin-bottom: 15px;
}

#titulo-projetos{
    font-size:14px;
    padding-right: 50%;
}

.flex-row-center.projeto{
    justify-content: space-around;
    width: 70%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1.2px solid rgb(3, 0, 44);
}

.projeto img{
    width: 300px;
    height: 160px;
}

.flex-column-center.conteudo-projeto{
    align-items:flex-start;
    text-align: justify;
    width: 60%;
}

.conteudo-projeto h2{
    font-size: 20px;
    padding-bottom: 15px;
}

.conteudo-projeto p{
    font-size: 12px;
}

.flex-row-center.ano-categoria{
    justify-content: flex-start;
    padding-bottom: 15px;
    font-weight: 600;
}

.ano{
    background-color: rgba(13, 0, 190, 0.616);
    color: white;
    width: 45px;
    margin-right: 15px;
    border-radius: 10px;
}
/*FIM PROJETOS*/

/*SECTION (2 arquivos) - PROJETO E BLOG*/
.categoria, .descricao{
    color: rgba(136, 136, 136, 0.575);
}
/*FIM SECTION0 (2 arquivos) - PROJETO E BLOG*/

/*DIV BLOG*/
#blog{
    border-top: 2px solid rgb(3, 0, 44);
}
/*FIM DIV BLOG*/

/*SECTION DE PUBLICACAO DE BLOG*/
#titulo-blog{
    width: 60%;
    font-weight: 600;
    font-size: 22px;
    padding-top: 30px;
}

#publicacoes-blog{
    width: 60%;
    border-top: none;
}

.flex-column-center.publicacao{
    width: 100%;
    align-items: flex-start;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1.2px solid rgba(199, 199, 199, 0.705);
}

#publicacoes-blog h1{
    font-size: 18px;
}

.flex-row-center.conteudo-publicacao{
    padding: 10px 0 10px;
    font-weight: 100;
    font-size: 15px;
    height: 25px;
}

.ano-publicacao{
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1.2px solid rgb(3, 0, 44);
}

.texto-publicacao{
    font-size:14px;
    text-align: justify;
}

.texto-publicacao a{
    font-weight: 600;
    padding-left: 10px;
    color:rgb(3, 0, 44);
}

.categoria-publicacao{
    color: rgba(199, 199, 199, 0.705);
}
/*FIM SECTION DE PUBLICACAO DO BLOG*/

/*PÁGINA DO VÍDEO*/
#video{
    border-top: none;
}

#video-fluig{
    padding: 30px 15% 15px 15%;
    align-items: flex-start;
}

#video-fluig h1{
    width: 100%;
    font-size: 25px;
    margin-bottom: 10px;
}

#video-ano{
    background-color: red;
}

#video-description{
    padding-top: 10px;
}


/*RODAPÉ*/
footer{
    padding-top: 10px;
    background-color: rgba(223, 223, 223, 0.493);
}

footer i{
    color: rgb(3, 0, 44);
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

footer p{
    padding: 10px;
    font-size: 12px;
}
/*FIM RODAPÉ*/

/*RESPONSIVIDADE*/
@media (max-width:1200px){
    .flex-row-center.projeto{
        flex-direction: column;
    }
    .projeto img {
        margin-bottom: 15px;
    }
}

@media (max-width:920px){
    #level-conteudo{
        flex-direction: column;
    }
    .flex-column-center.coluna-progresso{
        width: 80%;
    }
}

@media (max-width:768px){
    .flex-column-center.conteudo-projeto{
        width: 90%;
    }
    #profile-text{
        align-items: center;
        text-align: center;
        padding-top: 15px;
        width: 85%;
    }
    #profile{
         flex-direction: column-reverse;
   }
   footer i{
    font-size: 20px;
    }
    footer p{
    font-size: 10px;
    }

    .flex-column-center.publicacao {
        align-items: center;
    }
    #titulo-blog{
        width: 80%;
        text-align: center;
    }
    #publicacoes-blog{
        width: 80%;
    }
    #propriedades-video{
        align-items: flex-start;
        flex-direction: column;
    }
}
/*FIM RESPONSIVIDADE*/